/****** NAV BAR ******/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-background {
  background-image: url(../images/blue-background.png);
  height: 100px;
  background-size: cover;
}

.blue-top {
  background-color: #2293ec;
  height: 35px;
  color: #fff;
  padding: 10px;
  text-align: right;
}

/******* MAIN ********/

body {
  min-height: 75rem;
}

h2 {
  font-family: Arial;
  font-size: 2rem;
}

img {
  width: 100%;
}

.container-fluid {
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.jumbo {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  background-color: none;
}

@media (min-width: 576px) {
  .jumbo {
    padding: 1rem 2rem;
  }
}

.gradient {
  background-image: linear-gradient(#f3f3f3, #fff, #fff);
}

.green {
  background-color: #33cc66;
  color: #fff;
  padding: 10px;
}

.search {
  position: relative;
  padding: auto;
}

.search-button {
  position: absolute;
  right: 1rem;
  width: auto;
  height: 2rem;
  z-index: 2;
}

.row-1 {
  height: 55px;
}

.announcements {
  color: #fe7f13;
  font-size: 1rem;
}

.lorem {

}

.white {
  background-color: #fff;
  padding: 15px;
  border: 2px solid #f6f6f6;
}

.tasks {
  background-color: #fff;
  padding: 15px;
}

.arrow {
  width: 2px;
}

.button {
  border: 2px solid black;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 1px 1px 0.5px grey;
  width: 10px;
  background-image: url(../images/button.png);
  background-size: cover;
}

.gear {
  border: none;
  height: 1rem;
  width: auto;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.main-graph {
  padding: 1px;
  height: 210px;
  width: auto;
}

.main-graph-2 {
  padding: 1px;
  height: 250px;
  width: auto;
}

.blue {
  color: #2498f4;
}

.people {
  background-color: #fff;
  padding: 50px;
  border: 2px solid #f6f6f6;
}

.graph {
  background-color: #FA8072;
}

.pie {
  background-color: 	#F08080;
}

.blue-2 {
  background-color: #2498f4;
  padding: 15px;
}

.bottom-1 {
  padding: 10px;
  margin: 15px;
  background-image: url(../images/bottom-1.png);
  background-size: cover;
  height: 170px;
}

.bottom-2 {
  padding: 10px;
  margin: 15px;
  background-image: url(../images/bottom-2.png);
  height: 170px;
  background-size: cover;
}

.bottom-3 {
  padding: 10px;
  margin: 15px;
  background-image: url(../images/bottom-3.png);
  height: 170px;
  background-size: cover;
}

/****** FOOTER ******/

.container-footer {
  position: relative;
  width: auto;
}

.footer {
  background-color: #f3f3f3;
  height: 60px;
}

.align {
  text-align: right;
  padding-right: 2rem;
}
